@import "__date/github-item__date.css";
@import "__avatar/github-item__avatar.css";
@import "__container/github-item__container.css";
@import "__info/github-item__info.css";
@import "__name/github-item__name.css";
@import "__email/github-item__email.css";
@import "__commit/github-item__commit.css";

.github-item {
    font-family: Roboto, Roboto Slab, Sourse San Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    box-sizing: border-box;
    min-height: 264px;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 768px) {
    .github-item {
        padding: 24px;
        min-height: 242px;
    }
}

@media (min-width: 1280px) {
    .github-item {
        min-height: 288px;
    }
}
