.statistics-table__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: Roboto Slab, sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.3;
}

@media (min-width: 768px) {
    .statistics-table__title {
        margin-bottom: 48px;
        font-size: 26px;
        line-height: 1.1;
    }
}