.statistics-table__content {
    padding: 24px 16px;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .statistics-table__content {
        max-width: 688px;
        padding: 40px 40px;
    }
}

@media (min-width: 1280px) {
    .statistics-table__content {
        max-width: 1232px;
        padding: 80px 104px;
    }
}
