@import "__content/news__content.css";
@import "__header/news__header.css";
@import "__title/news__title.css";
@import "__link/news__link.css";
@import "__button/news__button.css";

.news {
    display: block;
    background: #F5F6F7;
    color: #1A1B22;
    font-family: Roboto, Roboto Slab, Sourse San Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
}

.news_hidden {
    display: none;
}
