.footer__copyright {
    font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.4;
    color: #B6BCBF;
    margin: 0;
}

.footer__copyright_top {
    display: none;
}

@media (min-width: 768px) {
    .footer__copyright {
        display: none;
    }
    .footer__copyright_top {
        display: block;
    }
}

