.tech__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 2fr));
    grid-gap: 42px 33px;
    text-align: center;
}

@media (min-width: 768px) {
    .tech__list {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 64px;
    }
}

@media (min-width: 1280px) {
    .tech__list {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 39px;
    }
}