@import "__image/no-result__image.css";
@import "__title/no-result__title.css";
@import "__subtitle/no-result__subtitle.css";

.no-result {
    display: block;
    background: #F5F6F7;
    padding: 86px 16px 80px 16px;
    text-align: center;
    font-family: Roboto, Roboto Slab, Sourse San Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
}

@media (min-width: 768px) {
    .no-result {
        padding-right: 0;
        padding-left: 0;
    }
}

