@import "__content/no-result__content.css";
@import "__image/no-result__image.css";
@import "__title/no-result__title.css";
@import "__subtitle/no-result__subtitle.css";

.no-result {
    background: #F5F6F7;
    text-align: center;
    font-family: Roboto, Roboto Slab, Sourse San Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
}

/*.no-result_hidden {
    display: none;
}*/


