.header__link {
    text-align: right;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    padding-bottom: 16px;
    color: #B6BCBF;
}

.header__link_active {
    color: #FFFFFF;
    border-bottom: solid;
    box-sizing: border-box;
    padding-bottom: 14px;
}

.header__link_theme-light {
    color: #B6BCBF;
}

.header__link_active.header__link_theme-light {
    color: #1A1B22;
}

.header__link:hover {
    transition: 0.3s ease-in;
    color: #FFFFFF;
}

.header__link_theme-light:hover {
    transition: 0.3s ease-in;
    color: #1A1B22;
}

@media (min-width: 768px) {
    .header__link {
        font-size: 18px;
        line-height: 1.3;
        padding-bottom: 18px;
    }

    .header__link_active {
        padding-bottom: 15px;
    }
}

@media (min-width: 1280px) {
    .header__link {
        padding-bottom: 26px;
    }

    .header__link_active {
        padding-bottom: 23px;
    }
}
