.search__button {
    background: #2F71E5;
    box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    width: 100%;
    min-height: 56px;
    color: #FFFFFF;
    border-style: none;
    cursor: pointer;
    outline: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
}

.search__button:focus {
    box-shadow: 0 0 0 1px lightskyblue;
}

.search__button:hover {
    background: #347EFF;
}

.search__button:active {
    background: #2A65CC;
}

@media (min-width: 768px) {
    .search__button {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 160px;
    }
    .search__button:focus {
        box-shadow: none;
    }
}

@media (min-width: 768px) {
    .search__button {
        max-width: 168px;
    }
}

