@import "__content/preloader__content.css";
@import "__circle/preloader__circle.css";
@import "__text/preloader__text.css";

.preloader {
        background: #F5F6F7;
        font-family: Roboto, Roboto Slab, Sourse San Pro, Arial, Helvetica, sans-serif;
        font-style: normal;
}

/*.preloader_hidden {
        display: none;
}*/

