.news__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
}

@media (min-width: 768px) {
    .news__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 32px;
        box-sizing: border-box;
    }
}

@media (min-width: 1280px) {
    .news__header {
        margin-bottom: 64px;
    }
}