.news__link {
    text-decoration: none;
    color: #1A1B22;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3;
}

.news__link:hover {
    opacity: 0.3;
    transition: 0.3s ease-in;
}

.news__link:after {
    content: url("../../../images/news-list__arrow.svg");
    vertical-align: middle;
    margin-left: 7px;
}

@media (min-width: 768px) {
    .news__link:after {
        margin-left: 10px;
    }
}