@import "__content/github__content.css";
@import "__title/github__title.css";
@import "__container/github__container.css";
@import "__linear-gradient/github__linear-gradient.css";
@import "__carousel-wrapper/github__carousel-wrapper.css";
@import "__carousel/github__carousel.css";
@import "__link/github__link.css";
@import "__link-top/github__link-top.css";
@import "__button/github__button.css";
@import "__dots-container/github__dots-container.css";
@import "__dots/github__dots.css";

.github {
    font-family: Roboto, Roboto Slab, Sourse San Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #1A1B22;
    background: #F5F6F7;
    /*overflow: hidden нужен для корректного отображения карусели*/
    overflow: hidden;
    position: relative;
}
