@import "__content/search__content.css";
@import "__title/search__title.css";
@import "__subtitle/search__subtitle.css";

.search {
    color: #FFFFFF;
    font-family: Roboto, Roboto Slab, Sourse San Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
}
