@import "__list/footer__list.css";
@import "__item/footer__item.css";
@import "__link/footer__link.css";
@import "__icons/footer__icons.css";
@import "__social-icon/footer__social-icon.css";
@import "__copyright/footer__copyright.css";

.footer {
    padding: 20px 16px 22px 16px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    font-family: Roboto, Roboto Slab, Sourse San Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
}

@media (min-width: 768px) {
    .footer {
        padding: 21px 40px 18px 40px;
        flex-direction: row;
    }
}

@media (min-width: 1280px) {
    .footer {
        padding: 30px 104px 25px 104px;
    }
}
