@import "__content/statistics__content.css";
@import "__title-hidden/statistics__title-hidden.css";
@import "__nav/statistics__nav.css";
@import "__title/statistics__title.css";
@import "__container/statistics__container.css";
@import "__text/statistics__text.css";
@import "__amount/statistics__amount.css";
@import "__list/statistics__list.css";
@import "__item/statistics__item.css";
@import "__link/statistics__link.css";
@import "__content-table/statistics__content-table.css";
@import "__table/statistics__table.css";
@import "__table-title/statistics__table-title.css";
@import "__table-results/statistics__table-results.css";
@import "__table-head/statistics__table-head.css";
@import "__table-item/statistics__table-item.css";
@import "__table-border/statistics__table-border.css";
@import "__table-range/statistics__table-range.css";
@import "__table-numbers/statistics__table-numbers.css";
@import "__table-last-cell-wrapper/statistics__table-last-cell-wrapper.css";
@import "__table-cell/statistics__table-cell.css";
@import "__table-bar/statistics__table-bar.css";

.statistics {
    font-family: Roboto, Roboto Slab, Sourse San Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
    background: #FFFFFF;
}

