.github__dots {
    background: #D1D2D6;
    border: 0;
    padding: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.github__dots:last-child {
    margin-right: 0;
}

.github__dots_active {
    background: #1A1B22;
}
