@import "__content/statistics-table__content.css";
@import "__title/statistics-table__title.css";
@import "__range/statistics-table__range.css";
@import "__numbers/statistics-table__numbers.css";
@import "__head/statistics-table__head.css";
@import "__border/statistics-table__border.css";
@import "__item/statistics-table__item.css";
@import "__cell/statistics-table__cell.css";
@import "__bar/statistics-table__bar.css";
@import "__table__results/statistics-table__results.css";
@import "__last-cell-wrapper/statistics-table__last-cell-wrapper.css";

.statistics-table {
    font-family: Roboto, Roboto Slab, Sourse San Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
    background: #F5F6F7;
}
