<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NewsAnalyzer</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%=require('./images/favicon.ico').default%>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%=require('./images/favicon-16x16.png').default%>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%=require('./images/favicon-32x32.png').default%>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%=require('./images/favicon-96x96.png').default%>">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css%>">
</head>
<body>
<div class="page">
    <header class="header header_theme-light">
        <div class="header__content">
            <p class="header__title header__title_theme-light">NewsAnalyzer</p>
            <nav class="header__nav">
                <ul class="header__container">
                    <li class="header__item"><a class="header__link" href="index.html">Главная</a></li>
                    <li class="header__item"><a class="header__link header__link_active header__link_theme-light" href="about.html">О проекте</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="clients">
        <h1 class="clients__title">Клиентам</h1>
        <p class="clients__text">Этот сайт&nbsp;&mdash; дипломный проект студента Яндекс.Практикума.
            Его цель&nbsp;&mdash; показать, чему научился студент, какими технологиями владеет.</p>
        <p class="clients__text">Вёрстка сайта выполнена по&nbsp;методологии БЭМ. Это делает сайт гибким и&nbsp;масштабируемым.
            Кроме того, добавлять новые страницы и&nbsp;функциональность проще и&nbsp;быстрее,
            чем в&nbsp;проектах, выполненных по&nbsp;другим методологиям. Также сайт проще и&nbsp;дешевле
            поддерживать.</p>
        <p class="clients__text">Карточки с&nbsp;новостями приходят с&nbsp;сервера и&nbsp;обрабатываются асинхронно.
            То&nbsp;есть сайт продолжает работать, пока от&nbsp;сервера приходит ответ. Это повышает удобство
            использования сервиса.
        <p class="clients__text">При создании проекта была использована сборка технологией Webpack. Это современный
            подход
            к&nbsp;разработке сайтов. Код оптимизируется, а&nbsp;значит, сайт работает быстрее. Также сайт работает
            в&nbsp;старых браузерах. Даже если посетители&nbsp;&mdash;
            пользователи старых операционных систем, у&nbsp;них не&nbsp;будет проблем с&nbsp;отображением. А&nbsp;значит,
            потенциальная аудитория возрастает.</p>
        <p class="clients__text">Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт,
            мы&nbsp;рекомендуем обратиться к&nbsp;этому студенту.</p>
    </section>
    <section class="tech">
        <div class="tech__content">
            <h2 class="tech__title">Используемые технологии</h2>
            <div class="tech__list">
                <div class="tech__item">
                    <h3 class="tech__name">HTML</h3>
                    <img class="tech__image" src="<%=require('./images/tech_html.svg').default%>" alt="Логотип HTML">
                </div>
                <div class="tech__item">
                    <h3 class="tech__name">CSS</h3>
                    <img class="tech__image" src="<%=require('./images/tech_css.svg').default%>" alt="Логотип CSS">
                </div>
                <div class="tech__item">
                    <h3 class="tech__name">Java Script</h3>
                    <img class="tech__image" src="<%=require('./images/tech_js.svg').default%>"
                         alt="Логотип Java Script">
                </div>
                <div class="tech__item">
                    <h3 class="tech__name">Webpack</h3>
                    <img class="tech__image" src="<%=require('./images/tech_webpack.svg').default%>"
                         alt="Логотип Webpack">
                </div>
            </div>
        </div>
    </section>
    <section class="author">
        <picture class="author__avatar">
            <source class="author__photo" srcset="<%=require('./images/avatar-272x272.png').default%>"
                    media="(max-width: 767px)">
            <source class="author__photo" srcset="<%=require('./images/avatar-232x232.png').default%>"
                    media="(max-width: 1279px)">
            <img class="author__photo" src="<%=require('./images/avatar-464x464.png').default%>"
                 alt="Фотография автора проекта">
        </picture>
        <div class="author__description">
            <h2 class="author__name">Об авторе</h2>
            <p class="author__experience">Это блок с&nbsp;описанием автора проекта.
                Здесь следует указать, как вас зовут, чем вы&nbsp;занимаетесь, какими технологиями
                разработки владеете.</p>
            <p class="author__experience">Также можно рассказать о&nbsp;процессе обучения в&nbsp;Практикуме,
                чему вы&nbsp;тут научились, и&nbsp;чем можете помочь потенциальным заказчикам.</p>
        </div>
    </section>
    <section class="github">
        <div class="github__content">
            <div class="github__container">
                <h2 class="github__title">История коммитов из&nbsp;GitHub</h2>
                <a class="github__link-top" href="https://github.com/katewillow" target="_blank">Открыть в GitHub</a>
            </div>
            <button type="button" class="button github__button github__button_arrow-left" name="button"></button>
            <div class="github__carousel">
                <a class="github-item" href="#" target="_blank">
                    <p class="github-item__date">14 августа, 2019</p>
                    <div class="github-item__container">
                        <img class="github-item__avatar" src="<%=require('./images/gh_avatar.png').default%>"
                             alt="Аватар пользователя">
                        <div class="github-item__info">
                            <p class="github-item__name">Антон Долинин</p>
                            <p class="github-item__email">anton@yandex.ru</p>
                        </div>
                    </div>
                    <p class="github-item__commit">Emmet (formerly Zen Coding) is a web- developer’s toolkit that can
                        greatly improve your HTML & CSS workflow.</p>
                </a>
                <a class="github-item" href="#" target="_blank">
                    <p class="github-item__date">14 августа, 2019</p>
                    <div class="github-item__container">
                        <img class="github-item__avatar" src="<%=require('./images/gh_avatar.png').default%>"
                             alt="Аватар пользователя">
                        <div class="github-item__info">
                            <p class="github-item__name">Антон Долинин</p>
                            <p class="github-item__email">anton@yandex.ru</p>
                        </div>
                    </div>
                    <p class="github-item__commit">Emmet (formerly Zen Coding) is a web- developer’s toolkit that can
                        greatly improve your HTML & CSS workflow.</p>
                </a>
                <a class="github-item" href="#" target="_blank">
                    <p class="github-item__date">14 августа, 2019</p>
                    <div class="github-item__container">
                        <img class="github-item__avatar" src="<%=require('./images/gh_avatar.png').default%>"
                             alt="Аватар пользователя">
                        <div class="github-item__info">
                            <p class="github-item__name">Антон Долинин</p>
                            <p class="github-item__email">anton@yandex.ru</p>
                        </div>
                    </div>
                    <p class="github-item__commit">Emmet (formerly Zen Coding) is a web- developer’s toolkit that can
                        greatly improve your HTML & CSS workflow.</p>
                </a>
                <a class="github-item" href="#" target="_blank">
                    <p class="github-item__date">14 августа, 2019</p>
                    <div class="github-item__container">
                        <img class="github-item__avatar" src="<%=require('./images/gh_avatar.png').default%>"
                             alt="Аватар пользователя">
                        <div class="github-item__info">
                            <p class="github-item__name">Антон Долинин</p>
                            <p class="github-item__email">anton@yandex.ru</p>
                        </div>
                    </div>
                    <p class="github-item__commit">Emmet (formerly Zen Coding) is a web- developer’s toolkit that can
                        greatly improve your HTML & CSS workflow.</p>
                </a>
                <a class="github-item" href="#" target="_blank">
                    <p class="github-item__date">14 августа, 2019</p>
                    <div class="github-item__container">
                        <img class="github-item__avatar" src="<%=require('./images/gh_avatar.png').default%>"
                             alt="Аватар пользователя">
                        <div class="github-item__info">
                            <p class="github-item__name">Антон Долинин</p>
                            <p class="github-item__email">anton@yandex.ru</p>
                        </div>
                    </div>
                    <p class="github-item__commit">Emmet (formerly Zen Coding) is a web- developer’s toolkit that can
                        greatly improve your HTML & CSS workflow.</p>
                </a>
            </div>
            <button type="button" class="button github__button github__button_arrow-right" name="button"></button>
            <div class="github__dots-container">
            </div>
            <a class="github__link" href="https://github.com/katewillow" target="_blank">Открыть в GitHub</a>
        </div>
    </section>
    <footer class="footer">
        <p class="footer__copyright footer__copyright_top">&copy; 2020. Екатерина Суркова</p>
        <nav class="footer__nav">
            <ul class="footer__list">
                <li class="footer__item"><a class="footer__link" href="index.html">Главная</a></li>
                <li class="footer__item"><a class="footer__link" href="about.html">О проекте</a></li>
                <li class="footer__item"><a class="footer__link" href="https://praktikum.yandex.ru/" target="_blank">Яндекс.Практикум</a>
                </li>
            </ul>
        </nav>
        <ul class="footer__icons">
            <li class="footer__icon"><a class="footer__social-icon footer__social-icon_github"
                                        href="https://github.com/katewillow" target="_blank"></a></li>
            <li class="footer__icon"><a class="footer__social-icon footer__social-icon_fb"
                                        href="https://www.facebook.com/katyawillow" target="_blank"></a></li>
        </ul>
        <p class="footer__copyright">&copy; 2020. Екатерина Суркова</p>
    </footer>
</div>
<script type="module" src="<%= htmlWebpackPlugin.files.js%>"></script>
<script type="nomodule" src="<%= htmlWebpackPlugin.files.js%>"></script>
</body>
</html>